table {
    width: 100%; 
    margin-top: 1em;
    
    border: 1.5px solid black;
}

.table{
  max-width: 100%;
  background-color: #fdfdfd;
  border: 10px;
  border-radius: 10px;
  padding: auto;
  margin-top: 5px;
}
.fas.fa-check{
    color: green;
    cursor: pointer;
}
.footer{
  display: block;
  
}
#selectRole{
    width: 80%;
}

#pagination{
  display: inline;
  float: right;
  cursor: pointer;
}

th{
   
  background-color: rgb(18, 132, 202);
  color: white;
  font-weight: normal; 
  text-transform: uppercase;
}

td{
  background-color: white;
  color: rgb(58, 51, 51);
}